.signup-page{

  width:100%;
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:#e8f4fc;

}

.signup-container{

  width:500px;

  background:white;

  padding:40px;

  border-radius:20px;

  box-shadow:0 10px 30px rgba(0,0,0,0.08);

}

.signup-form{

  display:flex;
  flex-direction:column;

  gap:14px;

}

.signup-form input,
.signup-form select{

  height:50px;

  border-radius:8px;
  border:1px solid #ccc;

  padding:0 14px;

}

.row{

  display:flex;
  gap:10px;

}

.row button{

  width:120px;

}

.signup-actions{

  display:flex;
  gap:10px;

  margin-top:20px;

}

.back-btn{

  flex:1;

}

.submit-btn{

  flex:2;

  background:#4962f0;
  color:white;

  border:none;
  border-radius:8px;

}