<div class="flex h-screen w-screen">
  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="./assets/images/sign-up.png" alt="CODEVI" />
      <h1 class="text-4xl font-bold">WELCOME ABOARD</h1>
      <p class="text-xs font-medium">
        환영합니다!
        <br>
        <span class="cursor-pointer font-medium text-yellow-400">CodeVi</span>에서 코드의 품질을 개선해보세요.
        <br>
        당신의 리포지토리를 업로드하여 코드를 시각화하고 품질을 개선해보세요.
        <br><br>
        <span class="cursor-pointer font-medium text-yellow-400">CodeVi</span>와 함께 미래의 기술 전문가로 성장해 보세요!
      </p>
    </div>
  </div>
  <div class="flex flex-1 items-center justify-center bg-background">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <a class="rounded bg-primary p-2">
          <svg-icon [svgClass]="'h-6 w-6'" src="assets/icons/metaverse_logo_white.svg"> </svg-icon>
        </a>
        <b class="text-md pl-3 font-bold text-foreground"> CodeVi </b>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>